In [ ]:
# отключим всякие предупреждения Anaconda
import warnings

warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Lasso, LassoCV, LinearRegression
from sklearn.metrics.regression import mean_squared_error
from sklearn.model_selection import (GridSearchCV, cross_val_score,
                                     train_test_split)
from sklearn.preprocessing import StandardScaler

In [ ]:
data = pd.read_csv("drive/MyDrive/ML/mlcourse.ai/A6/winequality-white.csv")
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [ ]:
y = data['quality']
X = data.drop('quality', axis=1)

X_train, X_holdout, y_train, y_holdout = train_test_split(X,y,test_size=0.3, random_state=17)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_holdout_scaled = scaler.transform(X_holdout)

In [ ]:
linreg = LinearRegression()
linreg.fit(X_train_scaled,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
print("Mean squared error (train): %.3f" % mean_squared_error(y_train,linreg.predict(X_train_scaled)))
print("Mean squared error (test): %.3f" % mean_squared_error(y_holdout,linreg.predict(X_holdout_scaled)))

Mean squared error (train): 0.558
Mean squared error (test): 0.584

In [ ]:
linreg_coef = pd.DataFrame({'coef': linreg.coef_, 'coef_abs': np.abs(linreg.coef_)},
                          index=data.columns.drop('quality'))
linreg_coef.sort_values(by='coef_abs', ascending=False)

                          coef  coef_abs
density              -0.665720  0.665720
residual sugar        0.538164  0.538164
volatile acidity     -0.192260  0.192260
pH                    0.150036  0.150036
alcohol               0.129533  0.129533
fixed acidity         0.097822  0.097822
sulphates             0.062053  0.062053
free sulfur dioxide   0.042180  0.042180
total sulfur dioxide  0.014304  0.014304
chlorides             0.008127  0.008127
citric acid          -0.000183  0.000183

In [ ]:
lasso1 = Lasso(alpha=0.01,random_state=17)
lasso1.fit(X_train_scaled,y_train)

Lasso(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=17,
      selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
lasso1_coef = pd.DataFrame({'coef':lasso1.coef_, 'coef_abs': abs(lasso1.coef_)}, index=X.columns)
lasso1_coef.sort_values(by='coef_abs', ascending=False)

                          coef  coef_abs
alcohol               0.322425  0.322425
residual sugar        0.256363  0.256363
density              -0.235492  0.235492
volatile acidity     -0.188479  0.188479
pH                    0.067277  0.067277
free sulfur dioxide   0.043088  0.043088
sulphates             0.029722  0.029722
chlorides            -0.002747  0.002747
fixed acidity        -0.000000  0.000000
citric acid          -0.000000  0.000000
total sulfur dioxide -0.000000  0.000000

In [ ]:
alphas = np.logspace(-6, 2, 200)
lasso_cv = LassoCV(alphas=alphas, random_state=17, cv=5)
lasso_cv.fit(X_train_scaled, y_train)

LassoCV(alphas=array([1.00000000e-06, 1.09698580e-06, 1.20337784e-06, 1.32008840e-06,
       1.44811823e-06, 1.58856513e-06, 1.74263339e-06, 1.91164408e-06,
       2.09704640e-06, 2.30043012e-06, 2.52353917e-06, 2.76828663e-06,
       3.03677112e-06, 3.33129479e-06, 3.65438307e-06, 4.00880633e-06,
       4.39760361e-06, 4.82410870e-06, 5.29197874e-06, 5.80522552e-06,
       6.36824994e-06, 6.98587975e-0...
       3.61234270e+01, 3.96268864e+01, 4.34701316e+01, 4.76861170e+01,
       5.23109931e+01, 5.73844165e+01, 6.29498899e+01, 6.90551352e+01,
       7.57525026e+01, 8.30994195e+01, 9.11588830e+01, 1.00000000e+02]),
        copy_X=True, cv=5, eps=0.001, fit_intercept=True, max_iter=1000,
        n_alphas=100, n_jobs=None, normalize=False, positive=False,
        precompute='auto', random_state=17, selection='cyclic', tol=0.0001,
        verbose=False)

In [ ]:
lasso_cv.alpha_

0.0002833096101839324

In [ ]:
lasso_cv_coef = pd.DataFrame({'coef':lasso_cv.coef_, 'coef_abs': abs(lasso_cv.coef_)}, index=X.columns)
lasso_cv_coef.sort_values(by='coef_abs', ascending=False)

                          coef  coef_abs
density              -0.648161  0.648161
residual sugar        0.526883  0.526883
volatile acidity     -0.192049  0.192049
pH                    0.146549  0.146549
alcohol               0.137115  0.137115
fixed acidity         0.093295  0.093295
sulphates             0.060939  0.060939
free sulfur dioxide   0.042698  0.042698
total sulfur dioxide  0.012969  0.012969
chlorides             0.006933  0.006933
citric acid          -0.000000  0.000000

In [ ]:
lasso_cv.alpha_

0.0002833096101839324

In [ ]:
print("Mean squared error (train): %.3f" % mean_squared_error(lasso_cv.predict(X_train_scaled),y_train))
print("Mean squared error (test): %.3f" % mean_squared_error(lasso_cv.predict(X_holdout_scaled),y_holdout))

Mean squared error (train): 0.558
Mean squared error (test): 0.583

In [ ]:
forest = RandomForestRegressor(random_state=17)
forest.fit(X_train_scaled,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=17, verbose=0, warm_start=False)

In [ ]:
print("Mean squared error (train): %.3f" % mean_squared_error(forest.predict(X_train_scaled),y_train))
print("Mean squared error (cv): %.3f" % np.mean(np.abs(cross_val_score(forest, X_train_scaled, y_train, 
                                                                       scoring='neg_mean_squared_error'))))
print("Mean squared error (test): %.3f" % mean_squared_error(forest.predict(X_holdout_scaled),y_holdout))

Mean squared error (train): 0.053
Mean squared error (cv): 0.414
Mean squared error (test): 0.372

In [ ]:
forest_params = {'max_depth': list(range(10, 25)), 
                 'min_samples_leaf': list(range(1, 8)),
                 'max_features': list(range(6,12))}

locally_best_forest = GridSearchCV # Ваш код здесь
locally_best_forest.fit # Ваш код здесь